-e .
behave
mock
pre-commit
pytest
pytest-mock
pytest-retry
pytest-timeout
pytest-xdist
icecream
neptune-scale @ git+https://github.com/neptune-ai/neptune-client-scale.git@dev/single-package-neptune-api
neptune-api @ git+https://github.com/neptune-ai/neptune-api.git@dev/single-package
