name: pre-commit

on:
  pull_request:
  push:
    branches:
      - main
      - dev/.*

jobs:
  pre-commit:
    runs-on: tools-gha-runners
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"

    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1
